.navbar {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: 2px solid #f00;
  background-color: #fff;
}
.brand {
  font-size: larger;
  font-weight: bolder;
}
.author {
  color: #000;
  font-size: larger;
  font-style: italic;
  font-weight: bolder;
}
